header.header
    .container
        .header__top
            .header__col.header__col-left
                ul.header__list.header__list--top
                    li.header__list-item.header__list-item--lang
                        a.header__list-link(href="#")
                            img.icon.icon--sun.header__list-icon(src="../static/img/svg/lang.svg", alt="")
                            span RU
                    li.header__list-item.header__list-item--location
                        a.header__list-link(href="#") Москва
                ul.header__list.header__list--actions
                    li.header__list-item
                        a.header__list-link(href="#")
                            img.icon.icon--sun.header__list-icon(src="../static/img/svg/sun.svg", alt="")
                            span Солнечные карибы
                    li.header__list-item
                        a.header__list-link(href="#")
                            img.icon.icon--sun.header__list-icon(src="../static/img/svg/star.svg", alt="")
                            span Выбор звезды
                    li
            a.header__logo(href="#")
                img(src="../static/img/logo_faberlic.png", alt="")
            .header__col.header__col--right
                ul.header__list.header__list-sign
                    li.header__list-item.header__list-item--signin
                        a.header__list-link
                            img.icon.icon--signin.header__list-icon(src="..static/img/svg/user.svg", alt="")
                            span Вход
                    li.header__list-item.header__list-item--signup
                        a.header__list-link(href="#")
                            span Регистрация
                ul.header__list.header__list--basket
                    li.header__list-item.header__list-item-favorite
                        a.header__list-link
                            img.icon.icon--favorite.header__list-icon(src="../static/img/svg/basket.svg", alt="")
                    li.header__list-item.header__list-item-catalog
                        a.header__list-link
                            img.icon.icon--catalog.header__list-icon(src="../static/img/svg/basket.svg", alt="")
                    li.header__list-item.header__list-item-basket
                        a.header__list-link
                            img.icon.icon--basket.header__list-icon(src="../static/img/svg/basket.svg", alt="")
        .header__bottom.header__row
            .header__nav.nav
                ul.nav__list
                    li.nav__item
                        a.nav__link.nav__link--new(href="#") НОВИНКИ
                    li.nav__item
                        a.nav__link.nav__link--new(href="#") КОСМЕТИКА
                    li.nav__item
                        a.nav__link.nav__link--new(href="#") ПАРФЮМЕРИЯ
                    li.nav__item
                        a.nav__link.nav__link--new(href="#") ОДЕЖДА И АКСЕССУАРЫ
                    li.nav__item
                        a.nav__link.nav__link--new(href="#") ЗДОРОВЬЕ
                    li.nav__item
                        a.nav__link.nav__link--new(href="#") ДОМ
                    li.nav__item
                        a.nav__link.nav__link--new(href="#") ДЕТЯМ
                    li.nav__item
                        a.nav__link.nav__link--new(href="#") МУЖЧИНАМ
                    li.nav__item
                        a.nav__link.nav__link--new(href="#") ДЛЯ БИЗНЕСА
                    li.nav__item
                        a.nav__link.nav__link--new(href="#") АКЦИИ
            .header__search.search
                form(action="")
                    input(type="text").search__field.field
                    .search__button
                        img.icon.icon--search.search__icon(src="../static/img/svg/search.svg", alt="")