.banner
    margin-bottom: 30px
.banner__img
    width: 100%
.ideas 
    margin-bottom: 70px
    display: flex;
    position: relative;
.ideas__col
    padding: 0 40px
.ideas__col-left
    width: 55%
.ideas__images
    position relative
.ideas__img
    max-width: 100%;
.ideas__img--2
    position: absolute
    top: 50%
    right: 14%
    transform: translateY(-45%)
    width: 60%
.ideas__col-right
    width: 44%
    text-align center
.section-title
    font-family: Marianna arial
    font-weight: 400
    font-size: 50px
    text-align: center
.ideas__text
    text-align: center
    margin-bottom: 40px
    max-width: 100%
    line-height: 1.77
