
.header__top
    padding: 15px 0
    font-size: 12px
    position: relative
    display: flex
    justify-content: space-between
    align-items: flex-start
.header__list 
    display: flex
    align-items: center

.header__list-item--lang
    margin-right: 13px
    margin-left: 0
    margin-bottom: 17px
.header__list--actions
    display: flex
.header__list-item 
    margin-right: 12px
.header__list-link 
    display: flex
    align-items: center
.header__list-icon
    margin-right: 5px
.header__bottom 
    display: flex
    align-items: center
.header__row
    justify-content: space-between
    position: relative
.nav__list
    font-size: 13px
    display flex
.nav__item
    margin-right: 35px

.header__bottom
    justify-content: space-between
    position: relative
.search__field 
    display: none
.search__button
    width: 40px
    height: 40px
    display: flex
    justify-content: center
.search__icon
    width: 16px
    height: 16px






